<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Iris App</h1>
    <hr>
    {% if result %}
    <h1>the flower is {{result}}</h1>
    {% comment %} <script>
        // Reload the page after displaying the result
        setTimeout(function () {
            window.location.reload();
        }, 3000);  // Reload after 3 seconds, adjust as needed
    </script> {% endcomment %}
    {% endif %}
    <form  method = "POST">
        {% csrf_token %}
     Sepal Length : <input type="number" name="sepal_length" required><br>
     Sepal Width : <input type="number" name="sepal_width" required><br>
     Petal Length : <input type="number" name="petal_length" required><br>
     Petal Width : <input type="number" name="petal_width" required><br>
     <input type="submit">
    </form>
    
</body>
</html>